language: python

python:
  - "2.7"

env:
  - TOX_ENV=pep8
  - TEST_FUNCTIONAL=true

before_install:
  - pip install tox
  - 'if [ ${TEST_FUNCTIONAL} = "true" ]; then
         git clone https://github.com/esikachev/abc-server;
         cd abc-server;
         tox -e venv -- abc-server -e ${GITHUB_USERNAME} -p ${GITHUB_PASSWORD} &> /tmp/server.log &
         while ! grep -Fxq "Running on" /tmp/server.log
         do
             sleep 2;
         done
         cd -;
      fi'

script:
  - 'if [ ${TEST_FUNCTIONAL} = "true" ]; then
         tox -e venv -- abc --init;
     else
         tox -e ${TOX_ENV};
     fi'

after_script:
  - 'if [ -f /tmp/server.log ]; then
        cat /tmp/server.log;
    fi' 
